/* Style global du body */
body {
    background-color: #fdf100; 
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333; 
    margin: 0;
    padding: 0;
}

/* Style du conteneur principal */
.container {
    max-width: 600px;
    margin: 50px auto;
    margin-left: 50px auto;
    margin-right: 50px auto;
    margin-bottom: 1px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Style du titre */
h1 {
    font-size: 2.5rem;
    color: #5D5C61;  
    margin-bottom: 20px;
}

/* Style du logo */
#logo {
    width: 200px;  
    height: auto; 
    margin-top: 20px;  
    margin-bottom: 20px;  
    max-width: 100%;  
}

/* Style de l'image en fond */
#background {
    width: 1200px; 
    height: auto;  
    margin-bottom: 20px; 
    max-width: 100%; 
}

/* Style pour l'affichage de la blague */
#jokeText {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

/* Style du bouton */
button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #e1007a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #fdf100;  
}

button:focus {
    outline: none;  
}

/* Style de la boîte de message d'erreur */
#errorMessage {
    margin-top: 20px;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border-radius: 4px;
    display: none;
}
